@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
  }
body{
    background: linear-gradient(to right,#2c5364,#203a43,#0f2027);
    height: 1111px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100vh;
}
.box{
    width: 25%;
    min-width: 250px;
    min-height: 250px;
    height: 25%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.288);
    border-radius: 5%;
    flex-direction: column;
    color: white;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
@include xxl{
    .box{
        width: 30%;
        height: 50%;
        
    }
}
@include xl{
    .box{
        width: 50vw;
        height: 65vh;
    }
}
@include md{
    .box{
        width: 50%;
        height: 40%;
    }
}
@include xs{
    .box{
        width: 200px;
    }
}
.box img{
    width: 50%;
    height: auto;
    border-radius: 50%;
}
.user_name{
    margin-bottom: 5px;
    font-size: 2rem;
}
.skill{
    color: rgba(255,255, 255, 0.555);
}

.arr_container, .cancel{
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: rgb(70, 70, 70);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .4s;
}
.arr_container i{
    transform:rotate(45deg);

}
.activer_arr{
    transform:translate(80%, 80%);

}
.left_container{
    position: absolute;
    background: linear-gradient(to right,#2c5364,#203a43,#0f2027);
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 60px 0 0 20px;
    transition: all .4s;
}
.off{
    transform: translate(-80%, -80%) rotate(90deg);
}
.active{
    transform: translate(0) rotate(0);
}
.icons a{
    color: white;
}
.left_container p{
    margin-bottom: 15px;
    font-size: 1.2rem;
}
@include xl{
.left_container p{
    font-size: 3rem;
    margin-bottom: 10px;
}
}
@include md{
    .left_container p{
        font-size: 2.2rem;
    }
}
@include sm{
    .left_container p{
        font-size: 1.4rem;
    }
}
@include xs{
    .left_container p{
        font-size: 1.2rem;
    }
}
.left_container .skills div{
    display: inline-block;
    color: rgb(155, 155, 155);
    border: 1px solid rgb(155, 155, 155);
    padding: 5px 10px;
    font-size: .9rem;
    margin: 4px 4px 4px 0;
}
@include xl{
    .left_container .skills div{
        font-size: 1.8rem;
    }
}
@include md{
    .left_container .skills div{
        font-size: 1.2rem;
        }
}
@include sm{
    .left_container .skills div{
        font-size: 1rem;
    
    }
}
@include xs{
    .left_container .skills div{
        font-size: 1rem;
    }
}
.left_container .icons{
    font-size: 1.6rem;
    margin-top: 10px;
}
@include xl{
.left_container .icons a i{
    font-size: 2rem;
    margin-top: 30px;
}
}
@include sm{
.left_container .icons a i{
    font-size: 0.8rem;
}

}
@include md{
.left_container .icons a i{
    font-size: 2rem;
    margin-top: 15px;
    }
}
@include xs{
.left_container .icons a i{
    font-size: 1rem;
}
}
.left_container .icons{
    color: #cfcfcf;
    cursor: pointer;
    margin-right: 10px;
    transition: all .4s;
}
.left_container .icon i:hover{
    color: #2c5364;
}
.pt-1{
    padding-top: 1rem;
}
.mt-4{
    margin-top: 4rem;
}
.scroll-down{
    height: 50px;
    width: 30px;
    border:2px solid black;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    bottom:20px;
    border-radius:50px;
    cursor:pointer;
  }
  .scroll-down::before,
  .scroll-down::after{
    content:'';
    position:absolute;
    top: 20%;
    left: 50%;
    border:2px solid black;
    height: 10px;
    width: 10px;
    transform:translate(-50% ,-50%) rotate(45deg);
    border-top:transparent;
    border-left:transparent;
    animation: scroll-down 1s ease-in-out infinite;
    
  }
  .scroll-down::after{
    top: 30%;
    animation-delay: .3s;
  }
  @keyframes scroll-down{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      top:90%;
    }
  } 
  .df{
      display: flex;
  }
  .container{
    padding: 0 15px;
  }
#preloader{
    background: black url("../image/loader.gif") no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

// timeline-card
.wrapper{
    max-width:1080px;
    height: 500px;
    margin: 50px auto;
    padding: 0 20px;
    position:relative;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top:20px;
    transform:translateX(-50%);
  }
  .wrapper .row{
    display: flex;
    justify-content: flex-start;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: $box;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.288);

  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: $box;
    top: 28px;
    z-index:-1;
    transform: rotate(45deg);
  }
  .row-1 section::before{
    right: -7px;
  }
  .row-2 section::before{
    left: -7px;
  }
  /* 內文字體排版設定 */
  .row section .details{
    color:$white;
  }
  
  /* timeline上icon */
  .row section i,
  .center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $btn-color;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform:translateX(-50%);
  }
  
  .row-1 section i.fas{
    top:13px;
    right: -60px;
  }
  .row-2 section i.fas{
    top: 13px;
    left: -60px;
  }
  @media(max-width:772px){
    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section i{
      left: -60px;
    }
  }
  .header{
      background: #0f2027;
      height: 100px;
  }
  .dn{
      display: none;
  }
  
  //blink
  .blink {
      animation-iteration-count: infinite;
      animation-direction: alternate;
      -webkit-animation-name: blink; /* Chrome, Safari, Opera */
      -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
      animation-name: blink;
      animation-duration: 2s;
  }
  /* Chrome, Safari, Opera */
  @-webkit-keyframes blink {
      from {color: red;}
      to {color: yellow;}
  }
  /* Standard syntax */
  @keyframes blink {
      from {color: white;}
      to {color: #0f2027;}
  }

  .text-center{
    text-align: center;
    color:red;
    line-height: 100px;
  }